header.header
    .header__wrapper
        .header__column
            a(href=routes.home)
                i.fab.fa-youtube
        .header__column
            form(method="get", action=routes.search)
                input(type="text", name="term",placeholder="Search by term...")
        .header__column
            ui
                if loggedUser
                    li
                        a(href=routes.videos+routes.videoUpload) Upload
                    li 
                        a(href=routes.users + routes.me) Profile
                    li
                        a(href=routes.logout) Logout
                else
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) Login 

