mixin videoBlock(video = {})
    div.videoBlock
        video.videoBlock__thumnail(src=video.fileUrl, controls=true, autoplay=true)
        a(href=routes.videos + routes.detail(video.id))
            h4.videoBlock__title #{video.title}
            h6.videoBlcok__views #{video.views}
